<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess {{name}}'s age...</title>
</head>
<body>
    <h1>Hey <em>{{name.title()}}!</em> </h1>
    <h2>I think you are {{gender}}.</h2>
    <h3>And maybe {{age}} years old.</h3>
    <p>Am I right? Am I right?</p>
    <img src="https://media.giphy.com/media/Vu8bdTGdxEzCg/giphy.gif">
    <p>I am accurate as I searched <em>{{count}}</em> online references for it!</p>
    <p>Copyright {{today_year}}. Built by Daylee </p>

</body>
</html>